/* --- ---------------------------------------------------------------
    DIVs
------------------------------------------------------------------- */
div.center {
    margin: auto;
    text-align: center;
}

div.left {
    float: left;
    padding: 0 2em 1em 1em;
    margin: 0 1em 0 0;
}

div.right {
    float: right;
    padding: 0 1em 1em 2em;
    margin: 0 0 0 1em;
}

div.opaque {
    background: White;
}

div.source {
    background-color: #FCFAF5;
    border: 1px solid #CCCCCC;
    margin: 1em 1em 1em 0;
    padding: 0 1em 0 1em;
    overflow: auto;
}

div.section {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    margin: 20px 0px 10px 0px;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
}


/* --- ---------------------------------------------------------------
    Other Block Elements
------------------------------------------------------------------- */
pre {
    background-color: #FCFAF5;
    color: #333364;
    font-family: monospace;
    font-size: 11px;
    line-height: 16px;
}


/* --- ---------------------------------------------------------------
    Images
------------------------------------------------------------------- */
img {
    border: none;
}

img.framed {
    border: 1px solid #AAAAAA;
}

img.icon {
    margin-bottom: -0.3em;
}

img.bigicon {
    margin-bottom: -1em;
}

img.right {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}

img.left {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}


/* --- ---------------------------------------------------------------
    Lists
------------------------------------------------------------------- */
ul, ol {
    margin: 1em 0 1em 1em;
    padding: 0 1em;
}

li {
    margin: 0 1em;
    padding: 0.4em;
    line-height: 1.5em;
}

ul li {
    list-style-image: url("../ico/list.gif");
}

li.separator {
    display: none;
}


/* --- ---------------------------------------------------------------
    Tables
------------------------------------------------------------------- */

table {
    margin: 15px 0 10px 0;
    font-size: 11px;
}

td {
    vertical-align: top;
}

th {
    text-align: left;
}

table.preformat {
    border: 1px solid #AAABB4;
    border-bottom: 2px solid #00748C;
    border-spacing: 0px;
    margin: 2em 0 2em 1px;
    width: 100%;
}

table.preformat th {
    color: #000000;
    padding: 0px;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

table.preformat div.tableheader {
    background-color: #EFEBE7;
    border-bottom: 1px solid #AAABB4;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #AAABB4;
    border-top: 1px solid #FFFFFF;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 1px;
    margin-right: -1px;
}

th:first-child div.tableheader {
    margin-left: 0;
}

table.preformat td {
    background-color: #FFFFFF;
    border-left: 1px solid #E5E5E7;
    border-top: 1px solid #E5E5E7;
    color: #000000;
    padding: 0.7em 1em 0.7em 1em;
    text-align: left;
    vertical-align: top;
}

table.preformat td.tablefirstcol {
    border-left: none;
}

table.preformat td.tablesubheader1 {
    background-color: #F0F1F4;
    border-left: none;
    padding: 0;
}

table.preformat td.tablesubheader2 {
    background-color: #FCFBFD;
    border-left: none;
    padding: 0.7em 1em 0.7em 1em;
}

table.preformat td.tablesubheader3 {
    background-color: #FEFDFF;
    border-left: none;
    font-size: 80%;
    padding: 2px 0 2px 1em;
}
